.bannerThanks {
    height: 50vh;
    padding-bottom: 0px;

    h1 {
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 148.958px;
        line-height: 110px;
        text-align: center;
        letter-spacing: -0.189063px;
        background: linear-gradient(91.75deg, #F32F56 -16.9%, #F32FAF 30.01%, #4A78EF 86.05%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    h1,
    p {
        text-align: center;
    }
}